.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.login-popup-container{
    place-self: center;
    width:max(23vw,330px);
    color: #e95119;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 25px 30px;
    border-radius: 10px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: tomato;
}
.login-popup-title img{
    width: 16px; 
    cursor: pointer;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid tomato;
    padding: 10px;
    border-radius: 4px;
}
.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: rgb(206, 58, 32);
    font-size: 16px;
    cursor: pointer;
}
.login-popup-condition{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: -15px;
    color: black;

}
.login-popup-condition input{
        margin-top: 0px;
}
.login-popup p span{
    color: rgb(109, 109, 109);
    font-weight: 500;
    cursor: pointer;
    gap: 5px;

}